body {
    font-family: 'Verdana', sans-serif;
    margin: 50px 25px;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: 860px;
    margin: 0 auto;
    background: #daeef3;
    padding: 20px 30px;
}

div.code_block {
    height: 500px;
    overflow: auto; 
    width:700px;
}

header h1 {
    color: #169bbd;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #f1fbfe;
}


div.gallery_thumb {
    /*width: 300px;
    height: 300px;*/
    /*border: 1px outset green;*/
    background: #f1fbfe;
}


img.align-center, .figure.align-center, object.align-center {
  display: block;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.align-center {
    text-align: center;
}

/*.figure {
    position: relative;
    float: left;
    margin: 10px;
    width: 180px;
    height: 200px;
}*/

.figure {
    position: relative;
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 170px;
    height: 170px;
}

.figure img {
    position: absolute;
    display: inline;
    left: 0;
    width: 170px;
    height: 170px;
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

.figure:hover img {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

/*.figure span {
    position: absolute;
    display: inline;
    left: 0;
    width: 170px;
    height: 170px;
    background: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}*/
.figure span {
    position: absolute;
    display: inline;
    left: 0;
    width: 170px;
    height: 170px;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

    background: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    text-align: center;
}

.figure p {
    position: absolute;
    top: 45%;
    width: 170px;
    font-size: 110%;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.figure:hover span {
    visibility: visible;
    opacity: .4;
}

.caption {
    position: absolue;
    width: 180px;
    top: 170px;
    text-align: center !important;
}